:root {
  --svg-bg: var(--ctp-crust);
  --hero-c1: var(--ctp-flamingo);
  --hero-c2: var(--ctp-pink);
  --hero-c3: var(--ctp-mauve);
  --hero-c4: var(--ctp-red);
  --hero-c5: var(--ctp-maroon);
  --hero-c6: var(--ctp-peach);
  --hero-c7: var(--ctp-yellow);
  --hero-c8: var(--ctp-green);
  --hero-c9: var(--ctp-teal);
  --hero-c10: var(--ctp-sky);
  --hero-c11: var(--ctp-sapphire);
  --hero-c12: var(--ctp-blue);
  --hero-c13: var(--ctp-lavender);
}
